<div class="title">
  <div class="content-display">
    <h1 class="title-content">Hello world</h1>
    {{#link-to "home" class="direct"}}
      Click here to go home
    {{/link-to}}
  </div>
  <img src="assets/images/girls-4320044_1920.jpg" class="welcome-img-display" alt="">
</div>



{{outlet}}